contoh External Css
h5{
    font-family: 'Lucida Sans';
    font-size: 30px;
    text-decoration: underline;
}

ol{
    font-family: 'Courier New';
    font-size: 14px;
    color:azure;
}

ul{
    font-family: 'Courier New';
    font-size: 14px;
    color:rgb(254, 141, 3);
}

.paragraf{
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica;
    color: cadetblue;
    text-align: center;
}

#text{
    font-size: 18px;
    text-decoration: highlight;
    color: cadetblue;
    text-align: right;
}

.gambar{
    width: 15%;
    height: auto;
    border: 2px solid #000;
    border-radius: 1%;
    border-color: black;
}

.gambar:hover{
width: 50%;
height: auto;
border-color: black;
}

.btn {
    background-color: #f1f2f6;
    color: #2f3542;
    padding: 8px 16px;
    border: 1px solid #ced6e0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 5px 20px 5px;
    text-decoration: none; /* Menjamin tidak ada garis bawah */
    display: inline-block;
    transition: all 0.2s ease;
}
.btn:hover {
    background-color: hsl(0, 100%, 50%);
}
.btn:active {
    background-color: hsl(108, 88%, 50%); 
    transform: scale(0.98); /* Efek tombol sedikit mengecil seperti ditekan beneran */
}